In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
path = 'DOB_Complaints_Received_20241022.csv'
complaints = pd.read_csv(path)

/var/folders/8t/h_ygnqfn40n6grnn231r3rlm0000gn/T/ipykernel_48397/2321328575.py:2: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv(path)

In [8]:
complaints.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-10-21
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-10-21
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-10-21
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-10-21

In [9]:
complaints.Status.value_counts()

Status
CLOSED    2874315
ACTIVE      26167
Name: count, dtype: int64

In [10]:
complaints[0:10]

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-10-21
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-10-21
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-10-21
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-10-21
5,4000003,CLOSED,01/03/1989,196-19,LINDEN BLVD,NaN,4442768,4,NaN,31,QNS.,01/06/1989,A1,01/04/1989,2024-10-21
6,1000092,CLOSED,01/06/1989,129,WEST 27 STREET,10001,1015066,105,NaN,99,MAN.,01/17/1989,A1,01/06/1989,2024-10-21
7,1000026,CLOSED,01/03/1989,316,WEST 19 STREET,10011,1013116,104,NaN,43,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
8,1000093,CLOSED,01/06/1989,81,ST MARKS PLACE,10003,1077696,103,NaN,53,MAN.,03/02/1989,B1,02/08/1989,2024-10-21
9,3000013,CLOSED,01/03/1989,282,PRESIDENT STREET,11231,3007253,306,NaN,43,BKLYN,01/06/1989,F8,01/03/1989,2024-10-21

In [11]:
complaints['House Number']

0             101
1             101
2          255-17
3             179
4             133
            ...
2900477       196
2900478      1165
2900479        21
2900480     60-28
2900481      1753
Name: House Number, Length: 2900482, dtype: object

In [12]:
complaints.Status.unique()

array(['CLOSED', 'ACTIVE'], dtype=object)

In [15]:
active_complaints = complaints[[x for x in complaints.Status == 'ACTIVE']]
print(active_complaints)

         Complaint Number  Status Date Entered House Number  \
305840            4164903  ACTIVE   04/22/2003        37-06
314614            1110389  ACTIVE   07/31/2003         1313
314661            5040821  ACTIVE   09/06/2003          330
333897            4173348  ACTIVE   08/22/2003         2304
337375            3117206  ACTIVE   08/11/2003           45
...                   ...     ...          ...          ...
2900432           3965417  ACTIVE   06/19/2024         1165
2900434           4966349  ACTIVE   07/20/2024        60-28
2900435           3971680  ACTIVE   08/07/2024         1165
2900441           2400076  ACTIVE   09/06/2024          500
2900444           4972355  ACTIVE   09/16/2024        60-28

               House Street ZIP Code      BIN Community Board  \
305840            82 STREET  11372.0  4545554           403.0
314614   ST NICHOLAS AVENUE  10033.0  1063555           112.0
314661     FINGERBOARD ROAD  10305.0  5045459           502.0
333897            36 AVENUE  11106.0  4004237           401.0
337375        GARNET STREET  11231.0  3008170           306.0
...                     ...      ...      ...             ...
2900432        ELTON STREET    11239  3398621             305
2900434           80 AVENUE    11385  4436554             405
2900435        ELTON STREET    11239  3398621             305
2900441     EAST 166 STREET    10456  2001268             203
2900444           80 AVENUE    11385  4436554             405

        Special District Complaint Category   Unit Disposition Date  \
305840               NaN                 49    NaN              NaN
314614               NaN                 49    NaN              NaN
314661               NaN                 49    NaN              NaN
333897               NaN                 49    NaN              NaN
337375               NaN                 49    NaN              NaN
...                  ...                ...    ...              ...
2900432              NaN                 6M  ELEVR              NaN
2900434              NaN                 45    Q-L       09/12/2024
2900435              NaN                 6M  ELEVR              NaN
2900441              NaN                 29  BRONX       09/27/2024
2900444              NaN                 45    Q-L              NaN

        Disposition Code Inspection Date  DOBRunDate
305840               NaN             NaN  2024-10-21
314614               NaN             NaN  2024-10-21
314661               NaN             NaN  2024-10-21
333897               NaN             NaN  2024-10-21
337375               NaN             NaN  2024-10-21
...                  ...             ...         ...
2900432              NaN             NaN  2024-10-21
2900434               C3      09/12/2024  2024-10-21
2900435              NaN             NaN  2024-10-21
2900441               D1      09/27/2024  2024-10-21
2900444              NaN             NaN  2024-10-21

[26167 rows x 15 columns]

In [ ]:
# I am smart